body
{
    height: 100%;
    /*background-color: #008fcf;*/
    background-color: white;
    background-image: radial-gradient(ellipse 120vw 50% at top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), url('../img/index_img_filter.png'), url('../resources/parishPublicPicture.php');
    /*background-size:100% 100%;*/
    background-size:  contain, cover;
    /*background-size:  100% 100%, cover;*/
    /*-o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;*/
    background-repeat: no-repeat;
    display:flex;
    font-family: Nexa, sans-serif;
}

h1
{
    font-weight: bold;
    /*text-shadow: 2px 2px #2d2929;*/
}

.cards-area
{
    margin-top: 80px;
}

.simple_footer
{
    color: #008fcf;
    background-color: white;
}

.simple_footer  a
{
    color: #008fcf;
}