.icon-stack {
    display: inline-block;
    /*height: 2em;
    line-height: 2em;*/
    height: 1em;
    position: relative;
    /*vertical-align: -35%;*/
    width: 2em;
}
.icon-stack .icon-stack-base {
    /*font-size: 2em; */
}
.icon-stack [class^="icon-"], .icon-stack [class*=" icon-"] {
    display: block;
    font-size: 1em;
    /*height: 100%;
    line-height: inherit;*/
    position: relative;
    text-align: center;
    /*width: 100%;*/
}
.icon-stack .glyphicon{
   /* font-size: 2em; */
}

.ban-overlay
{
    color:#ff0000d4; /* red; */

    font-size: 1.5em;
    position: relative;
    left: 0.15em;
    top: -0.8em;
}

@media print
{
    .ban-overlay:before
    {
        color: #ff0000d4 !important; /* red; */
    }
}